body {
    background-color: #FFB400;
}

.navbar-inverse {
  background-color: #032B43;
  margin-bottom: 2rem;
}

.hero {
  text-align: center;

  img{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 250px;
  }

  h1 {
    color: #032B43;
    font-weight: 200;
    padding-bottom: 5rem;
  }

  a {
    color: #032B43;
  }

.band1, .band2, .band3, .band4, .band5, .band6, .band7, .band8, .band9, .band0 {
  margin-bottom: .25rem;
  background-color: #032B43;
}
  .band1 {
    height: .1rem;
  }
  .band2 {
    height: .2rem;
  }
  .band3 {
    height: .3rem;
  }
  .band4 {
    height: .4rem;
  }
  .band5 {
    height: .5rem;
  }
  .band6 {
    height: .6rem;
  }
  .band7 {
    height: .7rem;
  }
  .band8 {
    height: .8rem;
  }
  .band9 {
    height: .9rem;
  }
  .band0 {
    height: 1rem;
  }
}

hr {
  border: .1em solid #FFB400;
}

.about {
  margin-top: .25rem;
  background-color: #032B43;
  color: #FFB400;
  text-align: left;

.progress-bar-warning{
  background-color: #FFB400;
}

  h2 {
    font-weight: 400;
    color: #fff;
  }

  h4 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
  }

  p {
    font-size: 1.5em;
    text-align: left;
  }
}

.music {
  h2 {text-align: center;}
  hr {border: 1px solid #032B43}
}

iframe {
  padding: 2rem;
}

.footer {
  text-align: center;
  padding: 1.5rem;
}
